

body{
    background-color: white;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: red;
    }

  }

  .shoes{
    width: 210px;
    height: 160px;
    margin-left: 20px;
    
  }

  .card{
    border-radius: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }

  .writeshoes{
    text-align: center;
  }
  .lorem{
    text-align: center;
  }

  .price{
    text-align: center;
  }

 

.star li {
    margin-left: 1px;
    font-size: 23px;
    list-style: none;
    margin-top: 13px;
    
}

.star li a{
    width: 2px;
    height: 2px;
    color: yellow; 
    border-radius: 30px;
    
}

.button{
    width: 240px;
    
    margin-left: -17px;
    font-size: 25px;
    margin-top: 20px;
    background-color: #0C82A0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

.headphone{
   
        width: 210px;
        height: 160px;
        margin-left: 5px;
}


.writephone{
    margin-top: 5px;
}

.phone{
   text-align: center;
    
}

.buttonhead{
    width: 240px;
    
    margin-left: -15px;
    font-size: 25px;
    margin-top: 20px;
    background-color: #3C3E6D;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.watch{
    width: 210px;
    height: 160px;
    margin-left: 20px;
}

.buywatch{
    width: 240px;
    
    margin-left: -15px;
    font-size: 25px;
    margin-top: 20px;
    background-color: black;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}

.buymobile{
    width: 240px;
    
    margin-left: -17px;
    font-size: 25px;
    margin-top: 20px;
    background-color: #FFA04C;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}

@media  all and (min-width:244px) and (max-width:768px){
    
  .buymobile{
    margin-top: 50px;
  }

}